<style type="text/css">
	.footer{height:50px;background:#ddd;text-align:center;line-height:20px;border:1px solid #ddd;}
	.foot_content{height:40px;margin:5px 0px;}
</style>
<div class="footer">
	<div class="foot_content">
		2016-2017 colien.cheng<br>版权所有
	</div>
</div>